@use '../helpers/' as *;

.card-buy {
  &__inner {
    padding-block: rem(15);
    transition-duration: var(--transition-duration);
    margin-block: rem(23) rem(49);
    position: relative;
    background-color: var(--color-purple);
    border: rem(2) solid var(--color-purple);
    border-radius: var(--border-radius);

    &:has(.card-buy__offer) {
      .card-buy__price {
        justify-content: end;
        padding-inline-end: rem(33);

        @include mobile-above {
          padding-inline-end: 0;
        }
      }

      .card-buy {
        margin-left: rem(20);

        @include mobile-above {
          margin: 0;
        }
      }
    }

    @include hover {
      transition-duration: var(--transition-duration);

      &:has(.card-buy__button:hover) {
        background-color: var(--color-purple);

        .card-buy__price-title {
          color: var(--color-light);
        }

        .card-buy__offer {
          display: block;
        }
      }
    }

    @include mobile-above {
      @include center-x;

      flex-direction: column;
      justify-content: center;
      row-gap: rem(11);
      padding: rem(15) rem(15) rem(17);
      background-color: var(--color-purple-light);
      margin: 0;
    }
  }

  &__offer {
    background-color: var(--color-yellow);
    padding: rem(3) rem(10) rem(4);
    border-radius: rem(5);
    font-size: rem(14);
    font-weight: 700;
    white-space: nowrap;
    position: absolute;
    left: rem(-20);

    @include mobile-above {
      right: 50%;
      left: 50%;
      translate: -50% 0;
      position: absolute;
      width: rem(123);
      bottom: calc(100% - rem(11));
      display: none;
    }
  }

  &__price {
    @include center-x;

    justify-content: center;
    font-weight: 700;
    color: var(--color-light);

    @include mobile-above {
      padding-inline-end: 0;
      color: var(--color-dark);
    }

    &-title {
      font-size: rem(24);

      &:nth-child(3) {
        margin-inline: rem(2);
        font-weight: normal;
      }
    }

    &-currency {
      width: rem(17);
      height: rem(17);
      margin-top: rem(-2);
      border-radius: 50%;
      color: var(--color-dark);
      font-size: 8px;
      padding: rem(4) rem(3);
      background-color: var(--color-yellow);
      margin-left: rem(5);
      font-weight: 700;

      @include mobile-above {
        margin-top: 0;
      }
    }
  }

  &__button {
    @include mobile-above {
      background-color: var(--color-light);
      padding: rem(17) rem(28);
      border-radius: rem(5);
      width: rem(120);

      @include hover {
        background-color: var(--color-yellow);
        transition-duration: var(--transition-duration);

        .card-buy__button-title {
          color: var(--color-dark);
          opacity: 1;
          transition-duration: var(--transition-duration);
        }

        .card-buy__price-title {
          color: var(--color-light);
          transition-duration: var(--transition-duration);
        }
      }
    }

    &-title {
      color: var(--color-dark);
      opacity: 0.2;
    }
  }
}
